<div class="login-header">
    {% if user.is_authenticated %}
    Logged in as <b>{{user}}</b>
    <div class="user-buttons">
        <div class="settings-button user-button" title="settings"></div>
        <a href="/logout"><div class="logout-button user-button" title="logout"></div></a>
    </div>
    {% else %}
     <div>Login / Register</div>
    {% endif %}
</div>

{% if user.is_authenticated %}
<div class="toggle-favs"></div>
<div class="favs-list"></div>
{% else %}
<div class="toggle-login"></div>
<div class="login-register-container">
    <div class="login-form">
        <div class="login-title">-- Login --</div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-field"><input type="text" name="username" placeholder="Username" required></div>
            <div class="form-field"><input type="password" name="password" placeholder="Password" required></div>
            <button class="menu-button" type="submit">Login</button> 
        </form>
    </div>
    <div class="register-form">
      <div class="register-title">-- Register --</div>
       <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-field"><input type="text" name="username" placeholder="Enter a username here" required></div>
            <div class="form-field"><input type="password" name="password" placeholder="Enter a password here" required></div>
            <button class="menu-button" type="submit">Register</button> 
        </form>
    </div>
</div>
<!-- TODO: remove
<div class="login-form">
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-field"></div>
    <div class="form-field"><input type="text" type="required" name="username" id="username" value="Username" /></div>
    <div class="form-field"><input type="password" type="required" name="password" id="username" value="Password" /></div>
    <div class="form-field"><input type="submit" type="required" value="Log Me In" /></dov
  </form>
</div>-->
{% endif %}

