<div class="login-header">
    {% if user.is_authenticated %}
    Logged in as <b>{{user}}</b>
    <div class="user-buttons">
        <div class="settings-button user-button" title="settings"></div>
        <a href="/logout"><div class="logout-button user-button" title="logout"></div></a>
    </div>
    {% else %}
    <div id="login-marker" class="login-button">Login / Register</div>
<!--    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input type="text" type="required" name="username" id="username" value="Username" />
      <input type="password" type="required" name="password" id="username" value="Password" />
      <input type="submit" type="required" value="Log Me In" />
      </form> -->
    {% endif %}
</div>

{% if user.is_authenticated %}
<div class="toggle-favs"></div>
{% endif %}

<div class="favs-list"></div>
