{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>VanCrime</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'vancrime/css/styles.css' %}">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="status-bar"></div>
    <div id="menu">
        <div class="menu-title">VanCrime</div>
        <div class="menu-container">
            <div class="menu-filter">
                <div class="sub-title">Filter</div>
                <div class="menu-content">
                    {% include "vancrime/index_filter_menu.html" %}  
                </div>
            </div>
            <div class="menu-visualize">
                <div class="sub-title">Visualize</div>
                <div class="menu-content">
                    {% include "vancrime/index_visualize_menu.html" %} 
                </div>
            </div>
            <div class="menu-summary">
                <div class="sub-title">Summary</div>
                <div class="menu-content">
                    {% include "vancrime/index_summary_menu.html" %} 
                </div>
            </div>
        </div>
    </div>
    <div id="graph-overlay">
        <div class="graph-content"></div>
        <div class="graph-bg"></div>
    </div>
    <div id=loading-overlay><div class="loading-icon"></div></div>
    <div id="map"></div>
    <div id="login">
        {% include "vancrime/index_login.html" %}  
    </div>
    <script>
        var default_year = {{default_year}};
        var default_month = {{default_month}};
        var default_latitude = {{default_latitude}};
        var default_longitude = {{default_longitude}};
        {% if user.is_authenticated %}
        var is_authenticated = true;
        {% else %}
        var is_authenticated = false;
        {% endif %}
    </script>
    
    <!-- third party dependencies -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNhncoP-tfsSs2qbbX_ne0GVTImbrLzf0&libraries=visualization"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'vancrime/js/third_party/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vancrime/js/third_party/underscore-1.8.3.min.js' %}"></script>

    <!-- main app -->
    <script type="text/javascript" src="{% static 'vancrime/js/helpers.js' %}"></script>
    <script type="text/javascript" src="{% static 'vancrime/js/templates.js' %}"></script>
    <script type="text/javascript" src="{% static 'vancrime/js/modules/map.js' %}"></script>
    <script type="text/javascript" src="{% static 'vancrime/js/modules/status.js' %}"></script>
    <script type="text/javascript" src="{% static 'vancrime/js/modules/favourites.js' %}"></script>

    <script type="text/javascript" src="{% static 'vancrime/js/main.js' %}"></script>

</body>
</html>
