<div class="login-header">
    {% if user.is_authenticated %}
    Logged in as <b>{{user}}</b>
    <div class="user-buttons">
        {% if not isSocialUser %}
        <div id="settings" class="settings-button user-button" title="settings"></div>
        {% endif %}
        <a href="/logout"><div class="logout-button user-button" title="logout"></div></a>
    </div>
    {% else %}
     <div>Login / Register</div>
    {% endif %}
</div>

{% if user.is_authenticated %}
<div class="toggle-favs"></div>
<div class="favs-list">
  <div class="no-favs">You don't have any saved locations</div>
</div>
{% else %}
<div class="toggle-login"></div>
<div class="login-register-container">
    <div class="login-form">
        <div class="login-title">-- Login --</div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-field"><input type="text" name="username" placeholder="Username" required></div>
            <div class="form-field"><input type="password" name="password" placeholder="Password" required></div>
            <button class="menu-button" type="submit">Login</button>
        </form>
        <form action="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
            {% csrf_token %}
            <button class="menu-button menu-button-twitter" type="submit">
                <img src='/static/vancrime/images/tweet-icon.png'/>
                Login with Twitter
            </button>
        </form>
    </div>
    <div class="register-form">
      <div class="register-title">-- Register --</div>
       <form action="{% url 'register' %}" method="post" onsubmit="return validateRegister()">
            {% csrf_token %}
            <div class="form-field"><input type="text" name="username" placeholder="Username" required></div>
            <div class="form-field"><input type="text" name="email" placeholder="Email" required></div>
            <div class="form-field"><input type="password" name="password" placeholder="Password" required></div>
            <div class="form-field"><input type="password" name="password2" placeholder="Retype Password" required></div>
            <button class="menu-button" type="submit">Register</button>
        </form>
    </div>
</div>
{% endif %}
